<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="30">
    <appenders>
        <Console 
            name   = "STDOUT" 
            target = "SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS}|%-5level|%-32.32c{1}|%t > %m%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </loggers>
</configuration>

